.env
.env.*
!.env.example

*.json
!apps/orchestrator/composer.json
!apps/orchestrator/package.json
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.pytest_cache/
venv/
.venv/
node_modules/
vendor/
tools/
